@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "GraphikLC";
  src: url('./fonts/graphiklcweb_medium.ttf') format("truetype");
}

.gradientText {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slideIn {
  animation-duration: 500ms;
  animation-name: slidein;
  bottom: 0;
}

@keyframes slidein {
  from {
    bottom:-100%;
  }

  to {
    bottom:0;
  }
}

.slideOut {
  animation-duration: 700ms;
  animation-name: slideout;
  bottom: -100%;
}

@keyframes slideout {
  from {
    bottom:0;
  }

  to {
    bottom: -100%;
  }
}